
[submodule "third_party/eigen"]
	path = third_party/eigen
	url = https://gitlab.com/libeigen/eigen
	branch = 3.4
[submodule "third_party/multiprecision"]
	path = third_party/multiprecision
	url = https://github.com/boostorg/multiprecision.git
